.photo-grid__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  justify-content: center;
  gap: 14px;
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__list {
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: minmax(288px, 1fr);
    gap: 12px;
  }
}
