.photo-grid__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
  justify-content: center;
  gap: 14px;
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fill, minmax(352px, max-content));
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fill, minmax(284px, max-content));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fill, minmax(288px, max-content));
    gap: 12px;
  }
}
