.photo-grid {
  width: 100%;
  padding: 92px 48px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}
