.places {
  width: 100%;
  padding: 92px 48px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: 984px;
    padding: 92px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 64px 0 0;
  }
}
