.places__heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
  max-width: 460px;
  box-sizing: border-box;
  justify-self: start;
}

@media screen and (max-width: 1023px) {
  .places__heading {
    font-size: 42px;
    line-height: 46px;
    max-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .places__heading {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
