.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0;
  text-decoration: none;
  max-width: 360px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
   font-size: 14px;
   line-height: 16px;
   margin: 16px 0 0;
  }
}