@font-face {
    font-weight: normal;
    font-family: "Inter";
    font-style: normal;
    src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  }

  @font-face {
    font-weight: bold;
    font-family: "Inter";
    font-style: normal;
    src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-weight: 900;
    font-family: "Inter";
    font-style: normal;
    src: url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
  }
