.intro {
  padding: 92px 48px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px 0;
  }
}
