.intro {
  padding: 92px 48px 0;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px 0;
  }
}
