.cover {
  padding-top: 92px;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 640px;
}

@media screen and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1280px;
    min-height: 740px;
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 66px;
    min-height: 200px;
  }
}