.cover__image {
  width: 100%;
  height: 640px;
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .cover__image {
    height: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__image {
    height: 740px;
    width: 1184px
  }
}


@media screen and (max-width: 767px) {
  .cover__image {
    height: 200px;
  }
}
