.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  max-width: 560px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title{
   font-size: 32px;
   line-height: 35px;
  }
}