.places__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 48px 32px;
  margin: 0;
  justify-items: center;
}


@media screen and (max-width: 1023px) {
  .places__item {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 32px;
  }
}
